.container-usuar{
    width: 50rem;
    margin: 7rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(46, 64, 87, 0.45);
    backdrop-filter: blur(14px);
    border: 1.5px solid rgba(245, 215, 110, 0.35);
}

.container-usuar h2{
    font-size: 4rem;
    margin-bottom: 1.6rem;
    color: #F5D76E;
    font-weight: 500;
}

.container-usuar li{
    font-size: 1.6rem;
    margin-bottom: .4rem;
    text-align: start;
}

.container-usuar input{
    width: 60%;
    margin: 1.4rem 0 2rem ;
    padding: 1.4rem 3rem;
    background-color: #2e2e2e;
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: .5rem;
    font-size: 1.6rem;
    color: white;
}

.container-usuar input::placeholder{
     color: rgba(242,242,242,0.45);
}