.header-1{
  justify-content: center;
  padding: 1.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 3rem;
}

.navlink{
  font-size: 3rem;
  text-decoration: none;
  color: black;
  position: relative;
}

.navlink.active{
  color: #F5D76E;
}

.navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background-color: black;
  transition: width 0.3s ease;
}

.navlink:hover::after {
  width: 100%;
}

.navlink.active::after {
  width: 100%;
}

.particula{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20%, #082329 0%, transparent 20%),
                radial-gradient(circle at 90% 80%, #127ab2 0%, transparent 20%);
}